body {
  background-image: url("./back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #daedff;
  overflow: hidden;
  margin: 0 auto;
}

.title {
  padding: 4px 2%;
  height: 20%;
}

h1 {
  background-color: #fee9f8;
  box-shadow: 0 6px 0 4px #fff;
  border-radius: 5px;
  text-align: center;
  width: 30%;
}

.table {
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  width: 60%;
  height: 50%;
  padding: 8px 0;
}

/* thの名前 */
#name {
  width: 30%;
}

/* thの参加可否 */
#confirm {
  width: 14%;
}

/* thのメモ */
#memo {
  width: 56%;
}

/* tdの名前 */
.name {
  width: 80%;
  height: 35%;
  margin: 0 10%;
  border-style: none;
  border: 2px solid #7a7a7a;
  border-radius: 0.2em;
}

/* tdの参加可否 */
.event {
  width: 20%;
  height: auto;
  margin: 0 7%;
}

/* tdのメモ */
.memo {
  width: 80%;
  height: auto;
  margin: 1.5% 10%;
}

/* 保存ボタン */
tfoot {
  text-align: center; /* テキストの中央揃え */
}

.save {
  padding: 5px 20px; /* 上下左右の余白を調整 */
  font-size: 16px; /* フォントサイズを大きく */
  font-weight: bold;
  background-color: #fee9f8;
  border-radius: 0.2em;
  border: none;
}

#membeer_screen {
  height: 100vh;
}

#detail {
  height: 60%;
}