/* 背景 */
body {
    background-image: url(./sakurafubuki.png);
    background-color: #daedff;
}

h1 {
    /* 位置指定 */
    padding: 5px;
    width: 450px;
    margin: 30px auto;
    
    /* 背景の色指定 */
    background-color: #FEE9F8;
    box-shadow: 0 6px 0 4px #fff;
    border-radius: 5px;
    /* テキスト */
    text-align: center;

}