body {
  background-image: url("./back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #daedff;
  overflow: hidden;
  margin: 0 auto;
}

#need_screen {
  height: 100vh;
}

.title {
  padding: 4px 2%;
  height: 20%;
  h1 {
    background-color: #fee9f8;
    box-shadow: 0 6px 0 4px #fff;
    border-radius: 5px;
    text-align: center;
    width: 30%;
  }
}

#detail {
  height: 60%;
}

.table {
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  width: 60%;
  height: 50%;
  padding: 8px 32px;
  #product {
    width: 80%;
  }
  #quantity {
    width: 20%;
  }

  tr {
    text-align: center;
  }
}

.name {
  width: 80%;
  height: 2em;
  margin: 1em 10%;
  border-style: none;
  border: 2px solid #7a7a7a;
  border-radius: 0.2em;
}

.pull-menu {
  width: 7em;
  font-size: medium;
  text-align: right;
  height: 2.5em;
}

tfoot {
  text-align: center; /* テキストの中央揃え */
}

.save {
  padding: 5px 20px; /* 上下左右の余白を調整 */
  font-size: 16px; /* フォントサイズを大きく */
  font-weight: bold;
  background-color: #fee9f8;
  border-radius: 0.2em;
  border: none;
}
