/* ページ全体のスタイル */
body {
    background-image: url('Rectangle 54.png'); /* 画像のファイル名を正確に指定する */
    margin: 0;
    background-color: #daedff;
}

/* コンテナのスタイル */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
/* フォームのスタイル */
form {
    max-width: 400px; /* 幅を調整 */
    width: 100%; /* コンテンツの幅を調整 */
    padding: 40px; /* 余白の調整 */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: auto; /* 右側の余白を自動調整 */
    margin-left: -400px; /* 左側の余白を追加 */
}


/* 入力フィールドのスタイル */
input[type="datetime-local"],
input[type="text"] {
    width: calc(100% - 20px); /* 幅を調整 */
    padding: 15px; /* パディングを増やす */
    margin-bottom: 20px; /* 下の余白を調整 */
    border: none; /* ボーダーを削除 */
    border-radius: 8px; /* 角丸に */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影を追加 */
    box-sizing: border-box;
    outline: none; /* フォーカス時の枠線を削除 */
    font-size: 18px; /* フォントサイズを調整 */
}

/* サブミットボタンのスタイル */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #ff69b4; /* ピンクの色 */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ff5c9e; /* ホバー時の色 */
}
